@model IEnumerable<HYE_SocialNetwork.Models.HYEQuestion>

@{
    ViewBag.Title = "My Questions";
}

<h2>My Questions</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var hyeQuestion in Model)
    {
        <div class="qContainer">
            <ul class="questions">
                <li>
                    <div class="details">
                        <span class="spotlightText">
                            @hyeQuestion.DateTime
                        </span><br />
                        <span class="spotlightText">
                            @hyeQuestion.Question
                        </span>
                        <div class="actions">
                            <a href="@Url.Action("Edit", "Questions", new { id = hyeQuestion.Id })" >Edit</a>
                        </div>
                        <br /><br />
                    </div>
                </li>

            </ul>
        </div>
    }
</div>
<br /><br />
