@model HYE_SocialNetwork.Models.HYEQuestion
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit A Question</h2>
@using (Html.BeginForm("Create", "Questions"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Question)
        @Html.TextBoxFor(m => m.Question, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Question)
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
