@model IEnumerable<HYE_SocialNetwork.Models.HYEQuestion>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var hyeQuestion in Model)
    {
        <li>
            @hyeQuestion.DateTime @hyeQuestion.Question 
            <br />
            Submitted By: @hyeQuestion.Inquirer.DisplayName
            <hr />
        </li>
        
    }
</ul>