body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: 700;
}

/*Whitney's Bootstrap Overrides*/
.navbar-inverse {
    background-color: #333399;
    border-color: #333399;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(3, 3, 142, 0.87);
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 17px;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 700;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 7px;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    border-radius: 4px;
    -ms-border-radius: 20px;
}

 .form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    border-radius: 4px;
    -ms-border-radius: 20px;
}

.btn-primary {
    background-color: #333399;
    border-color: #333399;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #E91E63;
    border-color: #E91E63;
}

.profileContainer {
    margin: 30px;
}

/*Page-Level Styles*/

.qContainer {
    margin: 50px 0px;
    max-width: 800px;
    max-height: 600px;
    padding: 20px 0px;
}

.questions {
    padding: 7px;
}

.questions > details > .btn {
    margin-left: 5px;
}

.questions > li {
    position: relative;
    margin-bottom: 30px;
    list-style: none;
}

.questions > li .date {
    background: red;
    color: white;
    text-align: center;
    width: 60px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.questions > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

.questions > li .date .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.questions > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

.questions > li .details .inquirer {
    font-weight: bold;
    display: block;
    font-size: 14px;
    color: #333399;
}

.questions > li .details .spotlightText {
    font-size: 22px;
}

.btn-sm {
    font-size: 12px;
}

.random {
    margin-top: 15px;
}