@{
    ViewBag.Title = "Home Page";
}

<div class="img-holder">
    @*<img src="http://notscaredofthesky.com/wp-content/uploads/2015/12/FotonNEWWCTLOGOFlexerwctlogo_Photo1.jpg" />*@
    @*<img src="http://www1.macys.com/dyn_img/cat_splash/SLP_Banners_FebWeek4_WomensDressShirts.jpg" />*@
    @*<img src="http://crescentshoppingcentre.ie/wp-content/uploads/2016/01/Sale-Website-Banner.jpg" />*@
    <img src="https://assets.macysassets.com/navapp/dyn_img/cms_tiles/astra_published/ce/assets/splash/black-friday/black_friday_header_03.png" />
    <button class="btn link" type="button">Shop Now</button>
</div>

<div class="row">
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
       
    </div>
</div>